/* resupload */
.thumbnail_image{
  border: 5px dashed #F1F2F7;
  padding: 5px;
  position: relative;
  width: 100%;
  text-align: center;
  min-height: 300px;
  max-height: 360px;
  height: 100%;
  background: none;
  min-height: 300px;
}

.thumbnail_image img{
  max-width: 100%;
  max-height: 300px;
  background: #fff;
}

.thumbnail_image input[type="file"]{
    opacity: 0;
    width: 100%;
    height: 300px;
    position: absolute;
    z-index: 20000;
}

.thumbnail_image input[type="file"]:hover{
  cursor: pointer;
}


.thumbnail_image:after {
    content: "\f0ee";
    font-family: FontAwesome;
    position: absolute;
    width: 100%;
    font-size: 48px;
    color: #ccc;
    z-index: 0;
    opacity: 0.5;
    cursor:pointer;
 }

 .thumbnail_image.error:after {
    content: "\f06a";
    font-family: FontAwesome;
    color: red;
    opacity: 1;
 }

.thumbnail_image span {
    position: absolute;
    left: 15px;
    bottom: 10px;
    display: block;
    background: #fff;
    padding: 3px 10px 3px 3px;
 }

.thumbnail_image span.success{
  color: #155724;
}

.thumbnail_image span.error,
.thumbnail_image span.danger{
  color: #721c24;
}

.thumbnail_image span.info{
  color: #0c5460;
}

.thumbnail_image span.warning{
  color: #856404;
}


.thumbnail_buttons{
  position: absolute;
    right: 5px;
    bottom: 5px;
    z-index: 21000;

}

 .thumbnail_buttons a{
  display: block;
  float: right;
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 50px;
  background: #00687f;
  color: #fff;
  border: 5px solid #00687f;
  margin-left: 2px;
 }

 .thumbnail_buttons a:hover{
  background: #fff !important;
  color: #222 !important;
 }
 
.vertical-center {
  min-height: 100%; 
  min-height: 30vh;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
  -webkit-box-align : center;
  -webkit-align-items : center;
  -moz-box-align : center;
  -ms-flex-align : center;
  align-items : center;
  width: 100%;
  -webkit-box-pack : center;
  -moz-box-pack : center;
  -ms-flex-pack : center;
  -webkit-justify-content : center;
  justify-content : center;
}
